<h3>Contact</h3>
<div class="card z-depth-3">
  <div class="card-content">
    <p>Do you want to talk? Find me on the map and we can a coffee.</p>
    <br  />
    <div id="map"></div>
  </div>
</div>
    <style>
      #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>

    <script>
      function initMap() {
        var uluru = {lat: 32.918476, lng: -117.1225};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          title: "Here is San Diego!"

        });
        marker.setMap(map)
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfO005-IerioCadGa_7K7J1EuABXmAlzw&callback=initMap">
    </script>
